html, body.new-design {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #555B65;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
}

.new-design h2 {
    font-size: 28px;
}

.new-design ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #B2B5B9;
}
.new-design ::-moz-placeholder { /* Firefox 19+ */
    color: #B2B5B9;
}
.new-design  :-ms-input-placeholder { /* IE 10+ */
    color: #B2B5B9;
}
.new-design  :-moz-placeholder { /* Firefox 18- */
    color: #B2B5B9;
}


@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
    .new-design h2 {
        font-size: 24px;
    }
}
@media (min-width: 1200px) {
}